@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

.message-center {
  @include vendor-prefix('box-sizing', 'border-box');

  $baseFontSize: 16px;

  font-size: $baseFontSize;

  position: fixed;
  z-index: 9999999;

  width: 0;
  background-color: green;

  .messages {
    @include vendor-prefix('box-sizing', 'border-box');

    min-width: 20em;
    max-width: 30em;

    margin: 0;
    padding: 0;
    list-style: none;


    .message-box {
      @include vendor-prefix('box-sizing', 'border-box');

      position: relative;
      border: #eee 2px solid;
      @include vendor-prefix('border-radius', '0.25rem');
      background-color: white;

      box-shadow: 0 2px 10px 3px #eee;
      @include vendor-prefix('animation', 'messageAnimation 3s ease');

      width: 100%;
      margin-bottom: 0.75em;
      padding: 0.75em 1em;

      &.success
      {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d0e9c6
      }

      &.info
      {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bcdff1
      }

      &.warning
      {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faf2cc
      }

      &.danger
      {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebcccc;
      }

      .message
      {
        display: block;
        overflow: hidden;
        word-wrap: break-word;
        color: inherit;
      }

      button.close {
        position: absolute;
        top: -0.35em;
        right: -0.35em;

        -webkit-appearance: none;
        -webkit-touch-callout: none;
        @include vendor-prefix('user-select', 'none');
        user-select: none;
        outline: none !important;
        padding: 0 0 0.125em;
        margin: 0;
        width: 1.25em;
        height: 1.25em;

        cursor: pointer;
        background: white;
        border: none;

        color: inherit;
        border-radius: 50%;
        @include vendor-prefix('box-shadow', '0 0px 10px 3px #ddd');

        font-weight: bold;
        font-size: 1em;
        line-height: 1em;

        opacity: 0.7;

        &:hover {
          color: #555;
          opacity: 1;
          @include vendor-prefix('box-shadow-color', '#dfdfdf');
        }
      }
    }
  }

  &.centered {
    top: 4em;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 0;

    .messages {
      margin: 0 auto;
    }
  }

  &.top {
    top: 2em;
  }

  &.left {
    left: 1em;
  }

  &.bottom {
    bottom: 1em;
  }

  &.right {
    right: 0;

    .messages {
      position: absolute;
      right: 1em;
    }
  }

  &.bottom.right {
    .messages {
      position: relative;

      .message-box {
        position: relative;
        left: -100%;
      }
    }
  }


  .message-animation.ng-enter, .message-animation.ng-leave {
    position: relative;
  }

  .message-animation.ng-enter {
    @include vendor-prefix('animation', '0.25s message-fly-fade-in');
  }

  .message-animation.ng-leave {
    @include vendor-prefix('animation', '0.25s message-fly-fade-out');
  }

  @mixin keyframes($name) {
      @-webkit-keyframes #{$name} { @content; }
      @-moz-keyframes #{$name} { @content; }
      @-o-keyframes #{$name} { @content; }
      @keyframes #{$name} { @content; }
  }

  @include keyframes(message-fly-fade-in) {
    from {
      opacity: 0;
      top: -2em;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }

  @include keyframes(message-fly-fade-out) {
    from {
      opacity: 1;
      top: 0;
    }
    to {
      opacity: 0;
      top: -2em;
    }
  }
}


/*Desktop*/

@media (min-width: 980px) {}

/*Tablet*/

@media (min-width: 768px) and (max-width: 979px) {}

/*Phone*/

@media(max-width: 767px) {
  .message-center {
    top: 2em;
    right: auto;
    bottom: auto;
    left: 0;

    width: 100%;
    height: 0;

    .messages {
      position: relative;
      margin: 0 !important;
      width: 70% !important;
      left: 15% !important;
      right: auto;
    }

    .message-box {
      left: auto !important;
      right: auto !important;
      font-size: 0.8em;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

